.background {
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    display: inline-block;
    margin-bottom: 20px;
    max-width: 35ch;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    z-index: 10;
    font-size: 200%;
}

#stoned {
    width: 20%;
    height: auto;
}

.subtitle {
    margin: 0;
}

.horizontal {
    display: flex;
    justify-content: space-between; /* Pushes text to the left and button to the right */
    align-items: center;            /* Vertically aligns text and button */
    width: 100%;
}
#Catalog {
    border: hidden;
    font-size: 120%;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 5px 25px;
    font-family: 'Segoe UI';
}

main {
    margin: 0;
    padding: 50px 20px; 
}

body {
    margin: 0;
    background-color: rgb(220, 220, 220);
    color: black;
    font-family: 'Segoe UI', sans-serif;
}
.fade {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.fadeafter1s {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}